<div class="project-wraper">
  <div class="Nav-Wraper">
    <mat-toolbar>
      <span class="a">
        <a href="#"><span>BR</span>Architects</a>
      </span>
      <div class="li-wraper">
        <span>projects</span>
        <span>About</span>
        <span>Contact</span>
      </div>
    </mat-toolbar>
  </div>
  <div class="Architects-wraper">
    <div class="Architects-upper-img-wraper">
      <div class="img">
        <img src="https://www.w3schools.com/w3images/architect.jpg" alt="" />
        <div class="Architects-img-content">
          <div class="h-span-wraper">
            <span>BR</span>
            <h3>Architects</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="Architects-project-wraper">
      <div class="project">
        <div class="projects-h2-wraper">
          <h2>Projects</h2>
        </div>
        <span class="line"></span>
        <div class="project-img-wraper">
          <div class="img-first-raw-wraper">
            <div class="imgi">
              <div class="imgi-name-wraper">
                <div class="imgname">Summer House</div>
                <img
                  src="https://www.w3schools.com/w3images/house5.jpg"
                  alt="House"
                  style="width: 100%"
                />
              </div>
            </div>
            <div class="imgi">
              <div class="imgi-name-wraper">
                <div class="imgname">Summer House</div>
                <img
                  src="https://www.w3schools.com/w3images/house5.jpg"
                  alt="House"
                  style="width: 100%"
                />
              </div>
            </div>
            <div class="imgi">
              <div class="imgi-name-wraper">
                <div class="imgname">Summer House</div>
                <img
                  src="https://www.w3schools.com/w3images/house5.jpg"
                  alt="House"
                  style="width: 100%"
                />
              </div>
            </div>
            <div class="imgi">
              <div class="imgi-name-wraper">
                <div class="imgname">Summer House</div>
                <img
                  src="https://www.w3schools.com/w3images/house5.jpg"
                  alt="House"
                  style="width: 100%"
                />
              </div>
            </div>
          </div>
          <div class="img-second-raw-wraper">
            <div class="imgi">
              <div class="imgi-name-wraper">
                <div class="imgname">Summer House</div>
                <img
                  src="https://www.w3schools.com/w3images/house5.jpg"
                  alt="House"
                  style="width: 100%"
                />
              </div>
            </div>
            <div class="imgi">
              <div class="imgi-name-wraper">
                <div class="imgname">Summer House</div>
                <img
                  src="https://www.w3schools.com/w3images/house5.jpg"
                  alt="House"
                  style="width: 100%"
                />
              </div>
            </div>
            <div class="imgi">
              <div class="imgi-name-wraper">
                <div class="imgname">Summer House</div>
                <img
                  src="https://www.w3schools.com/w3images/house5.jpg"
                  alt="House"
                  style="width: 100%"
                />
              </div>
            </div>
            <div class="imgi">
              <div class="imgi-name-wraper">
                <div class="imgname">Summer House</div>
                <img
                  src="https://www.w3schools.com/w3images/house5.jpg"
                  alt="House"
                  style="width: 100%"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Architects-About-wraper">
      <h3 class="Architects-About-h3">About</h3>
      <span class="line"></span>

      <div class="About">
        <div class="About-upper-content-wraper">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
          </p>
        </div>
        <div class="about-cards-wraper">
          <div class="about-card">
            <img src="https://www.w3schools.com/w3images/team2.jpg" alt="" />
            <h3>John Doe</h3>
            <span>CEO & Founder</span>
            <p>
              Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
              sodales pellentesque elementum.
            </p>
            <button mat-raised-button>Contact</button>
          </div>
          <div class="about-card">
            <img src="https://www.w3schools.com/w3images/team1.jpg" alt="" />
            <h3>John Doe</h3>
            <span>CEO & Founder</span>
            <p>
              Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
              sodales pellentesque elementum.
            </p>
            <button mat-raised-button>Contact</button>
          </div>
          <div class="about-card">
            <img src="https://www.w3schools.com/w3images/team3.jpg" alt="" />
            <h3>Mike Ross</h3>
            <span>CEO & Founder</span>
            <p>
              Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
              sodales pellentesque elementum.
            </p>
            <button mat-raised-button>Contact</button>
          </div>
          <div class="about-card">
            <img src="https://www.w3schools.com/w3images/team4.jpg" alt="" />
            <h3>John Doe</h3>
            <span>CEO & Founder</span>
            <p>
              Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
              sodales pellentesque elementum.
            </p>
            <button mat-raised-button>Contact</button>
          </div>
        </div>
      </div>
    </div>
    <div class="Architects-contact-wraper">
      <div class="contact">
        <h3>Contact</h3>
        <span></span>
        <div class="Architects-contact-para-wraper">
          <span>Lets get in touch and talk about your next project.</span>
        </div>
        <div class="Architects-input-wraper">
          <div class="Architects-inputs">
            <input type="Name" />
            <input type="Email" />
            <input type="Subject" />
            <input type="Comment" />
          </div>
          <div class="Architects-input-button-wraper">
            <button mat-raised-button>send message</button>
          </div>
        </div>
      </div>
    </div>
    <div class="architects-fotter-img">
      <img src="https://www.w3schools.com/w3images/map.jpg" alt="" />
    </div>
    <div class="footer-wraper">
      <footer>
        <p>Powered by <a href="https://www.w3schools.com/">w3.css</a></p>
      </footer>
    </div>
  </div>
</div>
